.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;

  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border: none;
  font-size: 16px;
  font-weight: 500;
}

/* disabled button */
.button.disabled {
  _opacity: 0.7;
  cursor: not-allowed;
  filter: grayscale(1);
}

.button.text {
  background-color: transparent;
  color: var(--color-primary);
}
