.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 6px 10px;
  cursor: pointer;

  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border: none;
  font-size: 16px;
  font-weight: 500;
}

.button[disabled] {
  cursor: not-allowed;
  background-color: var(--color-primary-disabled);
  color: var(--color-on-primary-disabled);
}
