.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  padding: 8px 16px;

  cursor: pointer;

  border-radius: 6px;
  background-color: var(--color-primary);
  color: var(--color-on-primary);
  border: none;
  _font-size: 16px;
  font-size: inherit;
  font-weight: 500;
  min-height: 40px;
}

.button.disabled,
.button[disabled] {
  pointer-events: none;
  cursor: not-allowed;
  filter: grayscale(1);
}

.button.text {
  background-color: transparent;
  color: var(--color-primary);
}

.button.text:focus-visible {
  background-color: var(--color-surface-container-high);
  box-shadow: 0 0 0 3px var(--color-secondary-container);
}

.button.isLoading {
  cursor: wait;
}

.button.secondary {
  background-color: var(--color-surface-container-high);
  color: var(--color-on-surface-container);
  font-weight: normal;
  border-radius: 8px;
}

.button.secondary:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.button.secondary:focus {
  box-shadow: 0 0 0 3px var(--color-secondary-container);
}
