.actionBar {
  z-index: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  gap: 0;
}

@media screen and (max-width: 600px) {
  .actionBar {
    font-size: 14px;
  }
}

.pageCount {
  font-size: 90%;
}
