:root {
  --color-primary: rgb(156 31 0);
  --color-surface-tint: rgb(176 46 13);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(208 68 35);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(149 72 53);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(255 169 149);
  --color-on-secondary-container: rgb(90 27 12);
  --color-tertiary: rgb(102 76 0);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(147 111 0);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(255 248 246);
  --color-on-background: rgb(38 24 21);
  --color-surface: rgb(255 248 246);
  --color-on-surface: rgb(38 24 21);
  --color-surface-variant: rgb(255 218 210);
  --color-on-surface-variant: rgb(90 65 59);
  --color-outline: rgb(142 112 106);
  --color-outline-variant: rgb(226 191 183);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(61 45 41);
  --color-inverse-on-surface: rgb(255 237 233);
  --color-inverse-primary: rgb(255 180 163);
  --color-primary-fixed: rgb(255 218 210);
  --color-on-primary-fixed: rgb(61 7 0);
  --color-primary-fixed-dim: rgb(255 180 163);
  --color-on-primary-fixed-variant: rgb(139 27 0);
  --color-secondary-fixed: rgb(255 218 210);
  --color-on-secondary-fixed: rgb(61 7 0);
  --color-secondary-fixed-dim: rgb(255 180 163);
  --color-on-secondary-fixed-variant: rgb(119 49 32);
  --color-tertiary-fixed: rgb(255 223 155);
  --color-on-tertiary-fixed: rgb(37 26 0);
  --color-tertiary-fixed-dim: rgb(237 193 86);
  --color-on-tertiary-fixed-variant: rgb(91 67 0);
  --color-surface-dim: rgb(238 212 207);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(255 240 237);
  --color-surface-container: rgb(255 233 228);
  --color-surface-container-high: rgb(253 226 220);
  --color-surface-container-highest: rgb(247 221 215);
}
