.thumbs {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  padding: 0px 32px 120px 32px;
  background-color: var(--color-background);
  border-radius: 32px;
  margin-top: 64px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid var(--color-theme);
  border-bottom: none;

  .thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
  }

  .thumb.selected {
    outline: 1px solid var(--color-theme);
    border-color: transparent;
  }

  .thumb.selected::before {
    width: 24px;
    height: 24px;
    content: "✓";
    position: absolute;
    top: 0;
    left: 0;
    font-size: 24px;
    color: var(--color-theme);
    background-color: #f00;
    border-radius: 0 8px 0 8px;
    padding: 4px;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-column: 1 / -1;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 0px 16px;
  padding-right: 6px;
  height: 48px;

  position: sticky;
  top: 8px;
  margin-top: 32px;
}

@media screen and (max-width: 768px) {
  .thumbs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .thumbs {
    grid-template-columns: repeat(1, 1fr);
  }
}
