.cardContainer {
  display: flex;
  overflow: hidden;

  background: var(--color-surface-bright);
  color: var(--color-on-surface);
  border: 1px solid var(--color-outline);
  border-radius: 32px;
  margin: 16px 0;
}

@media screen and (max-width: 1200px) {
  .cardContainer {
    margin: 16px;
  }
}

.imageContainer {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--color-surface-container-highest);
  border-right: 1px solid var(--color-outline);
}

@media (max-width: 600px) {
  .cardContainer {
    flex-direction: column;
    max-height: none;
  }
  .imageContainer {
    border-right: none;
    border-bottom: 1px solid var(--color-outline);
  }
}

.imageContainer img {
  display: block;
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
}

.content {
  flex: 1;
  padding: 16px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}
