:root {
  --color-primary: rgb(156 31 0);
  --color-surface-tint: rgb(176 46 13);
  --color-on-primary: rgb(255 255 255);
  --color-primary-container: rgb(208 68 35);
  --color-on-primary-container: rgb(255 255 255);
  --color-secondary: rgb(149 72 53);
  --color-on-secondary: rgb(255 255 255);
  --color-secondary-container: rgb(255 169 149);
  --color-on-secondary-container: rgb(90 27 12);
  --color-tertiary: rgb(102 76 0);
  --color-on-tertiary: rgb(255 255 255);
  --color-tertiary-container: rgb(147 111 0);
  --color-on-tertiary-container: rgb(255 255 255);
  --color-error: rgb(186 26 26);
  --color-on-error: rgb(255 255 255);
  --color-error-container: rgb(255 218 214);
  --color-on-error-container: rgb(65 0 2);
  --color-background: rgb(255 248 246);
  --color-on-background: rgb(38 24 21);
  --color-surface: rgb(255 248 246);
  --color-on-surface: rgb(38 24 21);
  --color-surface-variant: rgb(255 218 210);
  --color-on-surface-variant: rgb(90 65 59);
  --color-outline: rgb(142 112 106);
  --color-outline-variant: rgb(226 191 183);
  --color-shadow: rgb(0 0 0);
  --color-scrim: rgb(0 0 0);
  --color-inverse-surface: rgb(61 45 41);
  --color-inverse-on-surface: rgb(255 237 233);
  --color-inverse-primary: rgb(255 180 163);
  --color-primary-fixed: rgb(255 218 210);
  --color-on-primary-fixed: rgb(61 7 0);
  --color-primary-fixed-dim: rgb(255 180 163);
  --color-on-primary-fixed-variant: rgb(139 27 0);
  --color-secondary-fixed: rgb(255 218 210);
  --color-on-secondary-fixed: rgb(61 7 0);
  --color-secondary-fixed-dim: rgb(255 180 163);
  --color-on-secondary-fixed-variant: rgb(119 49 32);
  --color-tertiary-fixed: rgb(255 223 155);
  --color-on-tertiary-fixed: rgb(37 26 0);
  --color-tertiary-fixed-dim: rgb(237 193 86);
  --color-on-tertiary-fixed-variant: rgb(91 67 0);
  --color-surface-dim: rgb(238 212 207);
  --color-surface-bright: rgb(255 248 246);
  --color-surface-container-lowest: rgb(255 255 255);
  --color-surface-container-low: rgb(255 240 237);
  --color-surface-container: rgb(255 233 228);
  --color-surface-container-high: rgb(253 226 220);
  --color-surface-container-highest: rgb(247 221 215);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(255 180 163);
    --color-surface-tint: rgb(255 180 163);
    --color-on-primary: rgb(98 16 0);
    --color-primary-container: rgb(196 59 27);
    --color-on-primary-container: rgb(255 255 255);
    --color-secondary: rgb(255 180 163);
    --color-on-secondary: rgb(90 27 12);
    --color-secondary-container: rgb(110 42 26);
    --color-on-secondary-container: rgb(255 200 187);
    --color-tertiary: rgb(237 193 86);
    --color-on-tertiary: rgb(63 46 0);
    --color-tertiary-container: rgb(136 102 0);
    --color-on-tertiary-container: rgb(255 255 255);
    --color-error: rgb(255 180 171);
    --color-on-error: rgb(105 0 5);
    --color-error-container: rgb(147 0 10);
    --color-on-error-container: rgb(255 218 214);
    --color-background: rgb(29 16 13);
    --color-on-background: rgb(247 221 215);
    --color-surface: rgb(29 16 13);
    --color-on-surface: rgb(247 221 215);
    --color-surface-variant: rgb(90 65 59);
    --color-on-surface-variant: rgb(226 191 183);
    --color-outline: rgb(169 138 130);
    --color-outline-variant: rgb(90 65 59);
    --color-shadow: rgb(0 0 0);
    --color-scrim: rgb(0 0 0);
    --color-inverse-surface: rgb(247 221 215);
    --color-inverse-on-surface: rgb(61 45 41);
    --color-inverse-primary: rgb(176 46 13);
    --color-primary-fixed: rgb(255 218 210);
    --color-on-primary-fixed: rgb(61 7 0);
    --color-primary-fixed-dim: rgb(255 180 163);
    --color-on-primary-fixed-variant: rgb(139 27 0);
    --color-secondary-fixed: rgb(255 218 210);
    --color-on-secondary-fixed: rgb(61 7 0);
    --color-secondary-fixed-dim: rgb(255 180 163);
    --color-on-secondary-fixed-variant: rgb(119 49 32);
    --color-tertiary-fixed: rgb(255 223 155);
    --color-on-tertiary-fixed: rgb(37 26 0);
    --color-tertiary-fixed-dim: rgb(237 193 86);
    --color-on-tertiary-fixed-variant: rgb(91 67 0);
    --color-surface-dim: rgb(29 16 13);
    --color-surface-bright: rgb(70 53 49);
    --color-surface-container-lowest: rgb(23 11 8);
    --color-surface-container-low: rgb(38 24 21);
    --color-surface-container: rgb(42 28 25);
    --color-surface-container-high: rgb(54 38 35);
    --color-surface-container-highest: rgb(65 49 45);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: inherit;
}

*:focus-visible {
  outline: none;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  height: 100%;
  overflow: auto;

  background: var(--color-surface-container-low);
  color: var(--color-on-surface);

  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Product Sans", "Google Sans", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  font: 16px;
}

.container {
  width: 100%;
}

.nav_wrapper {
  position: sticky;
  top: 0;
  height: 48px;
  border-bottom: 1px solid var(--color-outline);
  background: var(--color-surface-container-highest);
  color: var(--color-on-surface);
  _box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.nav {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 0;
  min-height: calc(100vh - 48px);
}

.footer_wrapper {
  bottom: 0;
  width: 100%;
  height: 256px;
  border-top: 1px solid var(--color-outline);
  background: var(--color-surface-bright);
  _box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.footer {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}
