.nav_wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  height: 64px;
  color: var(--color-on-surface);
  z-index: 100;
}

.scroll {
  background: var(--color-surface-container-highest);
}

.nav {
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
  padding-right: 16px;
}

@media screen and (max-width: 1200px) {
  .nav {
    margin: 0 16px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0 16px;
  font-size: 15px;
  font-weight: 500;
  height: 48px;
  border-radius: 8px;
  _background: var(--color-surface-container-highest);
}

.logo svg {
  color: var(--color-primary);
}
