.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
  gap: 20px;

  .label {
    font-size: 15px;
    color: var(--color-on-surface-variant);
    margin: 0;
    padding: 0;
  }

  .form {
    position: relative;
    width: 100%;
    max-width: 600px;
  }

  .input {
    height: 44px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid var(--color-outline);
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.05);
    /* _box-shadow: 0 11px 34px 0 rgba(0,0,0,.2); */
    background: var(--color-surface);
    color: var(--color-on-surface);
    font-size: 14px;
    padding: 0 16px;
    min-width: 200px;
  }

  .input:focus {
    border-color: var(--color-primary-container);
  }

  .button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    height: calc(100% - 10px);

    background-color: var(--color-secondary);
    color: var(--color-on-secondary);
  }

  .input:focus + .button,
  .button:focus {
    background-color: var(--color-primary-container);
    color: var(--color-on-primary-container);
  }

  label.error {
    color: var(--color-error);
    font-size: 14px;
    height: 20px;
  }
}
